.comic {
  &__container {
    display: flex;
    flex-direction: column;
    margin-right: 1em;

    & p {
      max-width: 230px;
      font-size: $body;
      text-align: center;
      color: $black;
    }
  }
}
