.nav-bar {
  background-color: $black;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 32px;
    @include container;
  }
  &__title {
    color: $white;
  }
}

.nav-bar__options {
  & a {
    color: $white;
    margin-left: 1.7em;
    font-family: $font1;
    font-size: $subtitle;
    font-weight: normal;
  }
}
