.favorites-list {
  min-height: 100vh;
  &__container {
    background-color: $mainBackground;
    min-height: 100vh;
  }

  &__title {
    text-align: center;
    @include container;
  }

  &__no-favorites {
    font-size: $title3;
    text-align: center;
  }

  &__comics-container {
    display: grid;
    // grid-template-columns: repeat(5, 1fr);
    @include container;

    @media #{$mq-small} {
      grid-template-columns: repeat(3, 1fr);
    }

    @media #{$mq-medium} {
      grid-template-columns: repeat(3, 1fr);
    }

    @media #{$mq-large} {
      grid-template-columns: repeat(5, 1fr);
    }

    @media #{$mq-xlarge} {
      grid-template-columns: repeat(5, 1fr);
    }

    @media #{$mq-xxlarge} {
      grid-template-columns: repeat(6, 1fr);
    }

    &-item {
      padding-right: 0.2em;
      margin: 0.8em auto;
    }

    & p {
      text-align: center;
    }
  }

  &__lucky {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    & button {
      cursor: pointer;
      padding: 1em 4em;
      border: none;
      background-color: $black;
      font-size: $subtitle;
      color: $white;
      margin-bottom: 1em;
    }
  }
}
