.sign-in-page {
  background-image: url('../../images/signInPage.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;

  &__overlay {
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 100vh;
  }

  &__title {
    @include container;
    span {
      color: $white;
      font-size: $title3;
      display: block;
      line-height: 1;
    }
  }

  &__card {
    @include container;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 435px;
    position: absolute;
    right: 0;
    top: 140px;

    &--title {
      font-size: $title3;
      text-align: center;
      font-weight: bold;
    }

    & input {
      margin-bottom: 12px;
      padding: 12px 16px;
      font-size: $body;
      border: none;
      border-radius: 10px;
    }

    & form {
      margin: 0 30px;
      display: flex;
      flex-direction: column;
    }

    &--or {
      font-size: $body;
      text-align: center;
      margin: 5px 0;
    }

    &--login {
      margin-top: 26px;
      border: none;
      background-color: $black;
      color: $white;
      padding: 21px 114px;
      font-size: $body;

      &:hover {
        cursor: pointer;
      }
    }

    &--google {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 30px;
      border: none;
      background-color: $white;
      color: $black;
      padding: 21px 48px;
      font-size: $body;

      & img {
        margin-right: 8px;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &-signin-redirect {
      text-decoration: none;
      color: $black;
      text-align: center;
      margin-bottom: 32px;
      font-size: $subheadline;
      & span {
        font-weight: bold;
      }
    }
  }
}
