@font-face {
  font-family: 'Formula-Condensed';
  font-weight: bold;
  font-style: normal;
  src: url('./FormulaCondensed/FormulaCondensed-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Formula-Condensed';
  font-weight: normal;
  font-style: normal;
  src: url('./FormulaCondensed/FormulaCondensed-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Formula-Condensed';
  font-weight: lighter;
  font-style: normal;
  src: url('./FormulaCondensed/FormulaCondensed-Ultralight.otf')
    format('opentype');
}

//TT Hoves

@font-face {
  font-family: 'TT Hoves';
  src: url('./TTHoves/TTHoves-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./TTHoves/TTHoves-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./TTHoves/TTHoves-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./TTHoves/TTHoves-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./TTHoves/TTHoves-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./TTHoves/TTHoves-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./TTHoves/TTHoves-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./TTHoves/TTHoves-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./TTHoves/TTHoves-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./TTHoves/TTHoves-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./TTHoves/TTHoves-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./TTHoves/TTHoves-DemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./TTHoves/TTHoves-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./TTHoves/TTHoves-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./TTHoves/TTHoves-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves Hairline';
  src: url('./TTHoves/TTHoves-Hairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./TTHoves/TTHoves-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./TTHoves/TTHoves-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./TTHoves/TTHoves-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
