//Fonts
@import '../fonts/FontsDeclaration.scss';

$font1: 'Formula Condensed', sans-serif;
$font2: 'TT Hoves', sans-serif;

//Colors
$white: #ffffff;
$black: #000000;
$mainBackground: #f3eee8;

//Font sizes
$megaTitle: 8em; //144px
$largeTitle: 4.5em; //72px
$title1: 3em; //48px
$title2: 2.5em; //40px
$title3: 2em; //32px
$subtitle: 1.5em; //24px
$body: 1em; //16px
$subheadline: 0.8em; //13px
$footnote: 0.7em; //11px

//Line-Height
$line-height: 1.5;

// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: '(min-width: #{$bp-small})';
$mq-medium: '(min-width: #{$bp-medium})';
$mq-large: '(min-width: #{$bp-large})';
$mq-xlarge: '(min-width: #{$bp-xlarge})';
$mq-xxlarge: '(min-width: #{$bp-xxlarge})';
$mq-retina: '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)';

body {
  font-family: $font2;
  margin: 0;
  font-size: $body;
  line-height: $line-height;

  @media #{$mq-medium} {
    font-size: $body * 1.2;
    line-height: $line-height * 1.2;
  }

  @media #{$mq-large} {
    font-size: $body * 1.3;
  }

  @media #{$mq-xlarge} {
    font-size: $body * 1.4;
  }

  @media #{$mq-xxlarge} {
    font-size: $body * 1.6;
  }
}

@mixin container {
  margin: 0 4%;

  @media #{$mq-medium} {
    margin: 0 8%;
  }

  @media #{$mq-large} {
    margin: 0 12%;
  }

  @media #{$mq-xlarge} {
    margin: 0 18%;
  }
}

h1 {
  font-size: $title1;
  font-family: $font1;
  margin: 0;
}

h2 {
  font-size: $title2;
  font-family: $font1;
  margin: 0;
}

h3 {
  font-size: $title3;
  font-family: $font1;
  margin: 0;
}

@import '../styles/components/NavBar.scss';
@import '../styles/pages/LandingPage.scss';
